body{
    background: url(../Images/projectsBackground.jpg) black no-repeat center / cover;
}

.grid-container{
    display: grid;
    grid-template-columns: 1.6fr 4fr 4fr;
    height: 100vh;
    grid-template-areas: 
    'header header header header'
    'content content content content'
    'content content content content'
    'content content content content'
    'footer footer footer footer';
}
.grid-item-1{
    grid-area: header;
    grid-row: 1;
    grid-column: 1 / 6;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    color: whitesmoke;
}
.grid-item-2{
    grid-area: content;
    grid-column: 1 / 6;
    grid-row: 2 / 5;
}
.grid-item-3{
    grid-area: footer;
    display: flex;
    grid-column: 1 / 6;
    grid-row: 6;
    color: whitesmoke;
    justify-content: center;
}
ol{
    display: flex;
}
a{
    text-decoration: none;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
}
a:link{
    color: whitesmoke;
}
a:visited{
    color: gold;
}
a:hover{
    color: silver;
}
.workContainer{
  display: flex;
  justify-content: space-evenly;
}
/*How each project is displayed in the website.*/
#project{
    display: flex;
    flex-wrap: row;
    position: relative;
    align-items: center;
    margin-top: 25px;
    background-image: url(../Images/project1.png);
    height: 350px;
    width: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
}
#project2{
    display: flex;
    flex-wrap: row;
    position: relative;
    align-items: center;
    margin-top: 25px;
    background-image: url(../Images/project2.png);
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
}

#project3{
    display: flex;
    flex-wrap: row;
    position: relative;
    align-items: center;
    margin-top: 25px;
    background-image: url(../Images/project3.png);
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
}
#paragraph{
    margin-top: 100px;
    color: whitesmoke;
    font-size: 25px;
}
#github{
    width: 25px;
    height: 25px;
}